@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8
  }
}

.black_btn_default {
    @apply bg-petroleum text-white hover:text-sunset;
  }

  .black_btn_ghost {
    @apply bg-transparent text-petroleum hover:text-sunset hover:bg-petroleum;
  }

  .sidebar_option_hover {
    @apply text-gray-700 hover:text-sunset hover:bg-petroleum flex gap-3 rounded-md p-2 text-sm leading-6 font-semibold;
  }

  .sidebar_option_hover_group {
    @apply text-gray-400 border-gray-200 group-hover:border-sunset group-hover:text-sunset flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border text-[0.625rem] font-medium bg-cream;
  }

  .chats_option_hover {
    @apply text-gray-700 hover:text-sunset hover:bg-petroleum flex items-center gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold;
  }

  .scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity))
  }

  .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity))
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }
  

  
  .messages {
    @apply flex h-full flex-1 flex-col-reverse gap-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2;
  }

  .messages_input {
    @apply block w-full resize-none border-0 bg-transparent text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:py-1.5 sm:text-sm sm:leading-6;
  }

  .messages_input_ring {
    @apply relative flex-1 overflow-hidden rounded-lg shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-sunset;
  }

  .add_friend_input {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-petroleum placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sunset sm:text-sm sm:leading-6;
  }

  .notification {
    @apply rounded-full w-5 h-5 text-xs flex justify-center items-center text-white bg-sunset;
  }

  .toast_notification {
    @apply max-w-md w-full bg-white shadow-lg rounded-lg pointer-events-auto flex ring-1 ring-black ring-opacity-5;
  }
